<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h2>Music App</h2>
  <% if !current_user logged_in? %>
    <form action="<%=user_url%>" method='post'>
        <label>Email:
          <input type="text" value='delete'>
        </label>
    
    </form>

  <% else %>
    <form action=""></form>

  <% end %>

  <% if full[:errors] %>
    <% full[:errors].each do |error| %>
        <p style='color: red'><%=error%></p>
    <% end %>
  <% end %>
    <%= yield %>
  </body>
</html>
